*~
*.a
*.a.cmd
OBJ.*
*.rej
*.bak
*.o.cmd
*.o
*.swp
busybox
busybox_unstripped*
.busybox_unstripped.cmd
.indent.pro
.kconfig.d
.kernelrelease
.config.old
include/config/atlasserial.h
include/config/buddyinfo.h
include/config/feature/traceroute/ipv6.h
include/config/findpid.h
include/config/httppost.h
include/config/sleepkick.h
networking/.httppost.o.d
applets/.applet_tables.cmd
applets/.usage.cmd
applets/applet_tables
applets/usage 
docs/BusyBox.1
docs/BusyBox.html
docs/BusyBox.txt
docs/busybox.net/BusyBox.html
docs/busybox.pod
include/applet_tables.h
include/autoconf.h
include/bbconfigopts.h
include/usage_compressed.h
