#
# Kbuild ignores
#
.*
*.o
*.o.*
*.a
*.s
Kbuild
Config.in
!.config

#
# Never ignore these
#
!.gitignore

#
# Normal output
#
/busybox
/busybox_old
/busybox_unstripped*

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

#
# testing output
#
/busybox.links
/runtest-tempdir-links
/testsuite/echo-ne

#
# cscope output
#
cscope.files
cscope.in.out
cscope.out
cscope.po.out

libevent-2.0.20-stable/autom4te.cache
libevent-2.0.20-stable/config.h
libevent-2.0.20-stable/config.log
libevent-2.0.20-stable/config.status
libevent-2.0.20-stable/.deps
libevent-2.0.20-stable/include/event2/event-config.h
libevent-2.0.20-stable/include/Makefile
libevent-2.0.20-stable/*.la
libevent-2.0.20-stable/.libs
libevent-2.0.20-stable/libtool
libevent-2.0.20-stable/*.lo
libevent-2.0.20-stable/Makefile
libevent-2.0.20-stable/*.pc
libevent-2.0.20-stable/sample
libevent-2.0.20-stable/sample/.libs/*
libevent-2.0.20-stable/stamp-h1
libevent-2.0.20-stable/test
