*~
*.a
*.a.cmd
*.bak
*.o
.OBJ.*
*.o.cmd
*.rej
*.cmd
*.swp
applets/applet_tables
applets/.applet_tables.cmd
applets/usage
applets/.usage.cmd
busybox
busybox.links
busybox_unstripped*
.busybox_unstripped.cmd
.config.old
cscope.out
*/cscope.out
docs/BusyBox.1
docs/BusyBox.html
docs/busybox.net/BusyBox.html
docs/busybox.pod
docs/BusyBox.txt
include/applet_tables.h
include/autoconf.h
include/bbconfigopts.h
include/config
include/usage_compressed.h
.indent.pro
.kconfig.d
.kernelrelease
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
libevent-2.0.20-stable/sample/.libs/*
libevent-2.0.20-stable/test
libevent-2.0.20-stable/*.lo
libevent-2.0.20-stable/*.pc
libevent-2.0.20-stable/*.la
libevent-2.0.20-stable/stamp-h1
libevent-2.0.20-stable/sample
libevent-2.0.20-stable/libtool
libevent-2.0.20-stable/include/event2/event-config.h
libevent-2.0.20-stable/include/Makefile
libevent-2.0.20-stable/config.status
libevent-2.0.20-stable/config.log
libevent-2.0.20-stable/config.h
libevent-2.0.20-stable/Makefile
libevent-2.0.20-stable/.libs
libevent-2.0.20-stable/.deps
